{
  "openapi": "3.1.0",
  "info": {
    "title": "Training Data API",
    "version": "1.0.0",
    "description": "Standalone compatibility API for the grocery delivery training dataset. Read routes are public; quote and order routes require x-api-key or apikey."
  },
  "servers": [{ "url": "https://train.uxi.asia" }],
  "components": {
    "securitySchemes": {
      "apiKey": { "type": "apiKey", "in": "header", "name": "x-api-key" }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": ["code", "message"],
        "properties": { "code": { "type": "string" }, "message": { "type": "string" } }
      }
    }
  },
  "paths": {
    "/health/live": {
      "get": { "summary": "Process liveness", "responses": { "200": { "description": "Process is running" } } }
    },
    "/health/ready": {
      "get": { "summary": "Database readiness", "responses": { "200": { "description": "Database is reachable" }, "503": { "description": "Database is unavailable" } } }
    },
    "/openapi.json": {
      "get": { "summary": "OpenAPI document", "responses": { "200": { "description": "OpenAPI JSON document" } } }
    },
    "/assets/grocery-images/{filename}": {
      "get": {
        "summary": "Serve a grocery image",
        "parameters": [{ "name": "filename", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "Image asset" }, "404": { "description": "Asset not found" } }
      }
    },
    "/rest/v1/grocery_catalog": {
      "get": {
        "summary": "List active grocery catalog items",
        "parameters": [
          { "name": "select", "in": "query", "schema": { "type": "string" }, "description": "Comma-separated supported fields" },
          { "name": "is_active", "in": "query", "schema": { "type": "string", "enum": ["eq.true", "eq.false"] } }
        ],
        "responses": { "200": { "description": "Array of catalog rows" }, "400": { "description": "Invalid query", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } } }
      }
    },
    "/rest/v1/delivery_riders": {
      "get": {
        "summary": "List delivery riders",
        "parameters": [
          { "name": "select", "in": "query", "schema": { "type": "string" } },
          { "name": "availability", "in": "query", "schema": { "type": "string", "enum": ["eq.available"] } }
        ],
        "responses": { "200": { "description": "Array of rider rows" } }
      }
    },
    "/rest/v1/rpc/create_order_quote": {
      "post": {
        "summary": "Create a short-lived price quote",
        "security": [{ "apiKey": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["p_item_id", "p_quantity"], "properties": { "p_item_id": { "type": "string", "format": "uuid" }, "p_quantity": { "type": "integer", "minimum": 1, "maximum": 100 } } } } } },
        "responses": { "200": { "description": "Single-row quote array" }, "400": { "description": "Invalid request" }, "401": { "description": "API key required" }, "404": { "description": "Item not found" }, "409": { "description": "Insufficient inventory" } }
      }
    },
    "/rest/v1/rpc/create_delivery_order": {
      "post": {
        "summary": "Consume a quote and create a delivery order",
        "security": [{ "apiKey": [] }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "required": ["p_quote_id", "p_customer_name", "p_delivery_address"], "properties": { "p_quote_id": { "type": "string", "format": "uuid" }, "p_customer_name": { "type": "string", "minLength": 2, "maxLength": 100 }, "p_delivery_address": { "type": "string", "minLength": 8, "maxLength": 300 }, "p_customer_note": { "type": "string", "maxLength": 300 } } } } } },
        "responses": { "200": { "description": "Single-row order array" }, "400": { "description": "Invalid request" }, "401": { "description": "API key required" }, "404": { "description": "Quote or item not found" }, "409": { "description": "Quote expired, consumed, or inventory unavailable" } }
      }
    }
  }
}
